1. Creating a Tuple (15 mins): 
Write a Python program to create a tuple with different data types (e.g., integers, strings).

In [1]:
my_tuple = (1, 'apple', 3.5) 
print(my_tuple)

(1, 'apple', 3.5)

2. Accessing Tuple Elements (15 mins): 
Write a Python program to access elements of a tuple using indexing.

In [2]:
my_tuple = (10, 20, 30, 40) 
print(my_tuple[2])

30

3. Unpacking a Tuple (15 mins): 
Write a Python program to unpack a tuple into separate variables.

In [3]:
my_tuple = ('apple', 'banana', 'cherry') 
fruit1, fruit2, fruit3 = my_tuple 
print(fruit1, fruit2, fruit3)

apple banana cherry

4. Tuples are Immutable (15 mins): 
Try modifying an element in a tuple and observe the result.

In [8]:
my_tuple = (10, 20, 30) 

print(my_tuple)
# This will raise an error 
# my_tuple[0] = 100

(10, 20, 30)

5. Using Tuples in Functions (15 mins): 
Write a function `calculate_stats(numbers)` that takes a tuple of numbers and returns the 
sum and average.

In [12]:
def calculate_stats(numbers): 
    total = sum(numbers) 
    avg = total / len(numbers) 
    return total, avg 
result = calculate_stats((10, 20, 30)) 
print(result)

(60, 20.0)

6. Creating a Dictionary (15 mins): 
Write a Python program to create a dictionary representing a person with keys `name`, 
`age`, and `city`.

In [15]:
person = {'name': 'moosa', 'age': 30, 'city': 'New York'} 
print(person)

{'name': 'moosa', 'age': 30, 'city': 'New York'}

7. Accessing Dictionary Values (15 mins): 
Write a Python program to access the value associated with the `name` key in a dictionary.

In [16]:
person = {'name': 'janu', 'age': 30, 'city': 'New York'} 
print(person['name'])

janu

8. Adding Key-Value Pairs to a Dictionary (15 mins): 
Write a Python program to add a new key-value pair (`email`) to a dictionary.

In [17]:
person = {'name': 'ali', 'age': 30, 'city': 'New York'} 
person['email'] = 'alice@example.com' 
print(person)

{'name': 'ali', 'age': 30, 'city': 'New York', 'email': 'alice@example.com'}

9. Removing Key-Value Pairs from a Dictionary (15 mins): 
Write a Python program to remove the `city` key from a dictionary using `del`.

In [18]:
person = {'name': 'muhammad', 'age': 30, 'city': 'New York'} 
del person['city'] 
print(person)

{'name': 'muhammad', 'age': 30}

10. Looping Through a Dictionary (15 mins): 
Write a Python program to loop through a dictionary and print each key and value.

In [20]:
person = {'name': 'shahban', 'age': 30, 'city': 'New York'} 
for key, value in person.items(): 
    print(f'{key}: {value}')

name: shahban
age: 30
city: New York

11. Dictionary with Multiple Values (15 mins): 
Write a Python program to create a dictionary with multiple values for each key (e.g., a list 
of favorite colors for each person).

In [22]:
people = {'ali': ['red', 'blue'], 'bablu': ['green', 'yellow']} 
print(people)

{'ali': ['red', 'blue'], 'bablu': ['green', 'yellow']}

12. Checking for a Key in a Dictionary (15 mins): 
Write a Python program to check if the key `age` exists in a dictionary.

In [23]:
if 'age' in person: 
    print('Age is in the dictionary')

Age is in the dictionary

13. Merging Two Dictionaries (15 mins): 
Write a Python program to merge two dictionaries.

In [25]:
dict1 = {'name': 'bablu', 'age': 30} 
dict2 = {'city': 'New York', 'email': 'alice@example.com'} 
dict1.update(dict2) 
print(dict1)

{'name': 'bablu', 'age': 30, 'city': 'New York', 'email': 'alice@example.com'}

14. Using Dictionaries with Functions (15 mins): 
Write a function `describe_person(person)` that takes a dictionary representing a person 
and prints the information.

In [26]:
def describe_person(person): 
    for key, value in person.items(): 
        print(f'{key}: {value}') 
person = {'name': 'janu', 'age': 30, 'city': 'New York'} 
describe_person(person)

name: janu
age: 30
city: New York

15. Nested Dictionaries (15 mins): 
Write a Python program to create a dictionary of dictionaries to represent multiple people 
with their information.

In [27]:
people = { 
'janu': {'age': 30, 'city': 'New York'}, 
'Boblu': {'age': 25, 'city': 'Chicago'} 
} 
print(people)

{'janu': {'age': 30, 'city': 'New York'}, 'Boblu': {'age': 25, 'city': 'Chicago'}}